.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.music-container {
    margin-left: 3rem;
    margin-top: 2rem;
}

.music-content-container {
    overflow: scroll;
    max-height: 25rem;
}

.track-container {
    border-top: 1px solid black;
    padding-top: 1rem;
    padding-left: 0.5rem;
}
